@import "tailwindcss";

body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}
/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

} */
:root {
  /* Primary */
  --primary-50: var(--color-indigo-50);
  --primary-100: var(--color-indigo-100);
  --primary-200: var(--color-indigo-200);
  --primary-300: var(--color-indigo-300);
  --primary-400: var(--color-indigo-400);
  --primary-500: var(--color-indigo-500);
  --primary-600: var(--color-indigo-600);
  --primary-700: var(--color-indigo-700);
  --primary-800: var(--color-indigo-800);
  --primary-900: var(--color-indigo-900);
  --primary-950: var(--color-indigo-950);

  /* Neutral */
  --neutral-50: var(--color-slate-50);
  --neutral-100: var(--color-slate-100);
  --neutral-200: var(--color-slate-200);
  --neutral-300: var(--color-slate-300);
  --neutral-500: var(--color-slate-500);
  --neutral-800: var(--color-slate-800);

  /* Status */
  --success: var(--color-green-500);
  --error: var(--color-red-500);
  --link: var(--color-blue-600);
}